{% include 'lekhalekhi_app/basic.html' %} {% block body_block %}

<div class="container-fluid text-center">
  <div class="container" >

    <h1 style="color:black ;">The Largest Library of Multimedia Stories</h1>

    <h3>Read and share your thoughts in our unique picturebook format!</h3>


    <div>
        <button class="btn btn-primary">Start Reading</button>

        <button class="btn btn-default">About</button>

    </div>


   <div style="font-size: 20px;">
    Are you a writter ?
    <a href="#" >learn more</a>
   </div>

  </div>


  <div>

    

  </div>

  <div>

  </div>
</div>


{% endblock %}



{% block footer_block %}


{% endblock %}

<!-- {% include 'lekhalekhi_app/footer.html' %} -->